body{
	background: #fff;
}
.header a{
	color: #333;
}
.mui-title{
	color: #333;
}
.mui-bar-nav{
	box-shadow: 0 0 0 #000;
	border-bottom: 1px solid #ECECEC;
	color: #333;
	background: #fff;
}
.between{
	padding: 0 30px;
	background: #fff;
}
.between h4{
	font-size: 26px;
	color: #333;
	font-weight: 500;
	margin-top: 45px;
	margin-bottom: 37px;
}
.between .info input{
	height: 40px;
	line-height: 40px;
	border: 0;
	border-bottom: 1px solid #bcbcbc;
	font-size: 16px;
	color: #999;
	border-radius: 0;
	padding: 10px;
}
.between button{
	width: 100%;
	height: 40px;
	font-size: 20px;
	color: #fff;
	margin-top: 26px;
	border: 0;
}
.can{
	background: #4384c5;
}
.cannot{
	background: #bfd7ee;
}
/*email_code_box*/
.email_code_box{
	width: 100%;
	background: #fff;
	padding-bottom: 15px;
	position: fixed;
	bottom: 0;
}
.popover_header{
	width: 100%;
	height: 50px;
	padding: 0 15px;
	border-bottom: 1px solid #bcbcbc;
}
.popover_header p{
	float: left;
	font-size: 16px;
	color: #333;
	line-height: 50px;
}
.popover_header span{
	display: block;
	float: right;
	font-size: 14px;
	color: #666;
	line-height: 50px;
}
.popover_content{
	padding: 0 30px;
}
.popover_content p{
	padding: 10px;
	font-size: 20px;
	color: #333;
}
.popover_email{
	position: relative;
}
.popover_email input{
	height: 40px;
	line-height: 40px;
	border: 0;
	border-bottom: 1px solid #bcbcbc;
	font-size: 16px;
	color: #999;
	border-radius: 0;
}
.popover_email span{
	position: absolute;
	top: 0;
	right: 10px;
	line-height: 40px;
	font-size: 16px;
	z-index: 9;
}
.popover_content button{
	width: 100%;
	height: 40px;
	font-size: 18px;
	color: #fff;
	margin-top: 10px;
	border: 0;
}
.can{
	background: #4384c5;
}
.cannot{
	background: #bfd7ee;
}
