/*body{
	background: rgba(0,0,0,0);
}
.warp{
	position: relative;
	width: 100%;
	height: auto;
}
.substance{
	position: absolute;
	background: rgba(0,0,0,0);
	z-index: 99999;
	width: 100%;
	top: 0;
}
.header a{
	color: #fff;
}
.mui-title{
	color: #fff;
}
.mui-bar-nav{
	box-shadow: 0 0 0 #000;
	border-bottom: 0;
	color: #fff;
	background: rgba(0,0,0,0);
}
.mui-content{
	background: rgba(0,0,0,0);
}
#bcid{
	width: 100%;
	min-height: 100vh;
	z-index: 9;
	position: absolute;
	top: 0;
}*/
.complete_btn {
	position: absolute;
	top: 13px;
	right: 15px;
	font-size: 15px;
}
#bcid {
	width: 100%;
	position: absolute;
	top: 44px;
	bottom: 0;
	text-align: center;
}
.tip {
	color: #FFFFFF;
	font-weight: bold;
	text-shadow: 0px -1px #103E5C;
}
