.create_main{
	padding:20px 30px;
}
.create_alert{
	font-size: 13px;
	color:#333;
	line-height: 25px;
	font-weight: bold;
	padding-bottom: 40px;
}
.agreement{
	/*padding-top:20px;*/
}
.agreement label a{
 	color: #4384c5;
}
.mui-checkbox input[type=checkbox], .mui-radio input[type=radio]{
	left: 0;
}
.mui-checkbox label, .mui-radio label{
	padding-left: 35px;
	color: #999;
	font-size: 14px;
}
.mui-checkbox input[type=checkbox]:checked:before{
	font-size: 26px;
}
.mui-checkbox input[type=checkbox]:before{
	font-size: 26px;
}
.mui-checkbox label{
	padding-right: 0;
}
.backup_button {
	background: #4384C5;
	color: #fff;
	height: 40px;
	line-height: 40px;
	border-radius: 5px;
	text-align: center;
	font-size: 18px;
	margin-top:60px;
}
.info input{
	height: 40px;
	line-height: 40px;
	border: 0;
	border-bottom: 1px solid #bcbcbc;
	font-size: 14px;
	color: #999;
	border-radius: 0;
}