.create_main{
	padding:20px 30px;
}
.create_alert{
	font-size: 13px;
	color:#333;
	line-height: 25px;
	font-weight: bold;
	padding-bottom: 40px;
}
.agreement{
	/*padding-top:20px;*/
	position: relative;
}
.agreement a{
 	color: #4384c5;
 	position: absolute;
 	top:11px;
 	left:170px;
}
.mui-checkbox input[type=checkbox], .mui-radio input[type=radio]{
	left: 0;
}
.mui-checkbox label, .mui-radio label{
	padding-left: 35px;
	color: #999;
	font-size: 14px;
}
.mui-checkbox input[type=checkbox]:checked:before{
	font-size: 26px;
}
.mui-checkbox input[type=checkbox]:before{
	font-size: 26px;
}
.mui-checkbox label{
	padding-right: 0;
}
.backup_button {
	color: #fff;
	height: 40px;
	line-height: 40px;
	border-radius: 5px;
	text-align: center;
	font-size: 18px;
	margin-top:60px;
}
.info input{
	height: 40px;
	line-height: 40px;
	border: 0;
	border-bottom: 1px solid #bcbcbc;
	font-size: 14px;
	color: #999;
	border-radius: 0;
}
.can{
	background: #4384c5;
}
.cannot{
	background: #bfd7ee;
}
.alert_box {
	text-align: center;
	width: 87%;
	padding:0 20px 20px;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%)
}

.alert_title {
	color: #333;
	font-size: 24px;
	font-weight: bold;
	padding-top: 30px;
	padding-bottom: 23px;
}

.alert_body {
	color: #333;
	font-size: 15px;
	margin: 5px 0;
	max-height: 280px;
	/*overflow-x:hidden;*/
	overflow-y:scroll;
	text-align: left;
	/*overflow:auto*/
	/*word-break:break-all;*/
}
.close_btn{
	border-radius: 5px;
	color: #fff;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 18px;
	background: #e66d42;
	margin-top:27px;
}