body{
	width: 100%;
	height: 100vh;
	background: url(../img/invite/img_bg.png) no-repeat;
	background-size: 100% 100%;
}
.header a{
	color: #fff;
}
.mui-title{
	color: #fff;
}
.mui-bar-nav{
	box-shadow: 0 0 0 #000;
	color: #fff;
	background: rgba(0,0,0,0);
	border-bottom: 0;
}
.mui-content{
	background: rgba(0,0,0,0);
}
.between{
	padding: 0 23px;
}
.title{
	color: #fff;
	text-align: center;
	font-size: 19px;
	margin: 17px 0 10px 0;
}
.logo{
	width: 100%;
	height: auto;
}
.logo img{
	width: 100%;
}
.request{
	width: 100%;
	height: 376px;
	margin-top: 36px;
	background: url(../img/invite/img_bg1.png) no-repeat;
	background-size: 100% 100%;
}
.request_top{
	padding: 0 101px;
}
.request_top p{
	font-size: 20px;
	color: #333;
	text-align: center;
    padding: 54px 0 37px 0;
}
.request_top h4{
	color: #4384c5;
	font-size: 32px;
	text-align: center;
}
.request_top button{
	display: block;
	margin: 33px auto;
	width: 100%;
	height: 34px;
	background: #4384c5;
	color: #fff;
	border: 0;
	border-radius: 6px;
}
.request_bottom{
	margin-top: 60px;
}
.request_bottom h5{
	text-align: center;
	color: #4384c5;
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 11px;
}
.request_bottom p{
	text-align: center;
	color: #4384c5;
	font-size: 16px;
}
