body{
	background: #f6f6f6;
}
.header{
	background: #4384c5;
	width: 100%;
	overflow: hidden;
}
.portrait{
	width: 75px;
	height: 75px;
	margin: 40px auto 0 auto;
}
.portrait img{
	width: 100%;
}
.portrait .already{
	width: 75px;
	height: 75px;
	margin: 0 auto;
	background: #ccc;
	border-radius: 50%;
}
.header p{
	color: #333;
	font-size: 16px;
	text-align: center;
	padding: 9px 0 20px 0;
}
.content{
	background: #fff;
	margin-top: 20px;
	/*border-bottom: 5px solid #e5e5e5;*/
}
.content .means{
	float: left;
}
.content .means img{
	height: 65px;
}
.content .means p{
	color: #333;
	font-size: 16px;
	padding: 18px 0;
}
.content .manage{
	float: right;
}
.content .manage img{
	height: 65px;
}
.content .manage p{
	color: #333;
	font-size: 16px;
	padding: 18px 0;
}
.operation_list{
	padding: 0 0 0 10px;
	background: #fff;
	margin-bottom: 20px;
}
.list{
	width: 100%;
	padding: 0;
}
.list li{
	list-style: none;
	border-bottom: 1px solid #e5e5e5;
	padding: 0 5px;
	height: 46px;
	line-height: 46px;
	overflow: hidden;
}
.list li:last-child{
	border-bottom: 0;
}
.list li i{
	float: left;
	color: #666;
	font-size: 22px;
}
.list li p{
	float: left;
	font-size: 16px;
	color: #666;
	padding-left: 10px;
}
.list li span{
	float: right;
	margin-top: 10px;
	color: #BFBEC3;
}
