/*.title{
	overflow: hidden;
	padding: 0 10px;
	border-bottom: 1px solid #e5e5e5;
}
.title p:first-child{
	font-size: 15px;
	color: #999;
	float: left;
	line-height: 60px;
}
.title p:last-child{
	float: right;
	font-size: 24px;
	color: #333;
	line-height: 60px;
}
.title p span{
	font-size: 15px;
	float: left;
	margin-right: 15px;
}
.main{
	padding: 15px 10px;
	border-bottom: 1px solid #e5e5e5;
}
.main ul{
	overflow: hidden;
}
.main ul li{
	font-size: 15px;
	overflow: hidden;
	padding: 15px 0;
}
.main ul li:first-child{
	float: left;
	color: #999;
}
.main ul li:first-child p{
	text-align: left;
}
.main ul li p span{
	margin-right: 10px;
}
.main ul li:last-child{
	float: right;
}
.main ul li:last-child p{
	text-align: right;
	color: #333;
}
.main ul:first-child{
	position: relative;
}
.main ul li:last-child p:last-child{
	position: absolute;
	right: 0;
}
.purchase{
	color: #08c087 !important;
}
.sellout{
	color: #e66d42 !important;
}
.ore{
	color: #4384c5 !important;
}*/
.detail_body{
	padding:29px 15px;
}
.trade_num{
	text-align: center;
	padding:18px 0;
	color:#333;
	font-size: 20px;
	font-weight: bold;
}
.trade_state{
	padding-bottom: 42px;
	text-align: center;
	color:#999;
	font-size: 15px;
}
.each_detail{
	padding-bottom: 29px;
	overflow: hidden;
}
.left_detail{
	color:#999;
	font-size: 15px;
	float: left;
	width:40%;
}
.right_detail{
	color:#333;
	font-size: 15px;
	float: right;
	width:60%;
	text-align: right;
	word-break:break-all; 
}
.img_box{
	text-align: center;
}
.left_img{
	height:80px;
}
.right_img{
	height:80px;
}
.middle_img{
	width:12px;
	margin:0 30px 22px 30px;
}
