.transfer_main{
	padding:20px 30px;
}
.info{
	/*overflow: hidden;*/
	_zoom:1;
}
.info:after{
	clear: both;
	content: "";
	display: block;
}
.info:first-child h5{
	padding: 12px 0;
}
.info h5{
	width: 25%;
	float: left;
	padding: 20px 0;
	font-size: 14px;
	font-weight: 500;
}
.detail{
	width: 75%;
	float: left;
	margin: 8px 0;
}
.detail i{
	position: absolute;
	right: 8px;
	top: 8px;
	font-size: 24px;
}
.detail span{
	line-height: 38px;
	position: absolute;
	right: 10px;
	top: 0;
}
.detail input{
}
.detail_info{
	border: 1px solid #f6f6f6;
	padding: 10px 15px;
	border-radius: 4px;
}
.info_detail p{
	word-break: break-all;
	padding: 4px 0;
	font-size: 14px;
}
.info_detail input{
	border: 0;
}
#submit{
	color: #fff;
    height: 40px;
    width: 100%;
    line-height: 40px;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    margin-top: 30px;
	background: #4384c5;
	border: 0;
}
.account_box{
	position:relative;
}
#history_list{
	position:absolute;
	left:76px;
	top:55px;
	z-index: 500;
	box-shadow: 0 0 2px 2px rgb(196,214,229);
	padding:0 10px;
	background: #fff;
	border-radius: 3px;
}
#list_main>li{
	word-break: break-all;
	padding:5px 0;
	color:#8f8f94;
	border-bottom: 1px solid #DBDEDE;
	line-height: 20px;
}
.clear_history{
	text-align: center;
	padding:8px 0;
}
.mui-input-row .mui-input-clear~.mui-icon-clear{
	top:2px !important;
}
